html,body{
    margin:0;
    padding:0;
}
fieldset{
    margin:0 auto;
    margin-top:20px;
    width: 80%;
    border-radius:10px;
    padding:20px;
}
fieldset legend{
    font-size:18px;
}
fieldset label{
    cursor:pointer;
}
fieldset label span{
    display:inline-block;
    border:1px solid #000;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:18px;
    border-radius:50%;
}
fieldset label input{
    opacity:1;
}
.time-selected{
   background-color:black;
    color:white;
}